{
    "env": {
        "jasmine": true,
    },
    "globals": {
        "saxo": false,
    },
    "rules": {
        "max-nested-callbacks": "off",
        "max-len": "off",
        "camelcase": "off",
        "max-lines": "off",
        "max-statements": "off"
    }
}
