{
    "presets": [
        [
            "@babel/preset-env",
            {
                "loose": true,
                "spec": false,
                "targets": "node 12"
            }
        ],
        "@babel/preset-typescript"
    ]
}
