{
    "presets": [
        [
            "@babel/preset-env",
            {
                "loose": true,
                "spec": false
            }
        ],
        "@babel/preset-typescript",
    ],
    "plugins": ["@babel/plugin-proposal-class-properties"],
}
